---
### ALL PAGES ###
layout: master/global/default
permalink: /blog/

### REGULAR PAGES ###
meta:
  #title: "Home"
  #description: "We are a great company and would love to design an intuitive solution for you!"
  #breadcrumb: "Home"
pagination:
  enabled: true

### REGULAR PAGES ###

---

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Inner intro START -->
<section class="pt-4">
	<div class="container">
		<div class="row">
      <div class="col-12">
				<div class="border p-4 text-center rounded-3">
					<h1>Featured songs and artists</h1>
					<nav class="d-flex justify-content-center" aria-label="breadcrumb">
						<ol class="breadcrumb breadcrumb-dots m-0">
							<li class="breadcrumb-item"><a href="{{ site.rul }}"><i class="bi bi-house me-1"></i> Home</a></li>
							<li class="breadcrumb-item active">All features</li>
						</ol>
					</nav>
				</div>
      </div>
    </div>
	</div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Main content START -->
<section class="position-relative pt-0">
	<div class="container" data-sticky-container="">
		<div class="row">
			<!-- Main Post START -->
			<div class="col-lg-9">
				<!-- Card item START -->

        {% for post in paginator.posts %}
          {% assign postindex = forloop.index %}
          {% assign modulo = postindex | modulo: 3 %}

            {% if modulo == 0 %}
              {% include /master/modules/adunits/adsense-in-article.html slot="1811533320" %}
            {% else %}
              <div class="card mb-4">
                <div class="row">
                  <div class="col-md-5">
                    <!-- <img class="rounded-3" src="assets/images/blog/4by3/01.jpg" alt=""> -->
                    {% if post.teaser.type == "image" %}
                      {%- include /master/helpers/blog-image.html id=post.post.id name=post.url class="rounded-3" alt=post.post.title -%}
                    {% elsif post.teaser.type == "soundcloud" %}
                      <iframe class="lazyload" width="100%" height="100%" scrolling="no" frameborder="no" allow="autoplay" data-src="https://w.soundcloud.com/player/?url=https%3A//{{ post.teaser.source }}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    {% endif %}
                  </div>
                  <div class="col-md-7 mt-3 mt-md-0">
                    <a href="#" class="badge bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>{{ post.genre }}</a>
                    <h3><a href="{{ site.url }}{{ post.url }}" class="btn-link _stretched-link text-reset">{{ post.title }}</a></h3>
                    <p>{{ post.excerpt }}</p>
                    <!-- Card info -->
                    <ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
                      <li class="nav-item">
                        <div class="nav-link">
                          <div class="d-flex align-items-center position-relative">
                            <!-- <div class="avatar avatar-xs">
                              <img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">
                            </div> -->
                            <span class="?ms-3">by <a href="#" class="stretched-link text-reset btn-link">{{ post.author }}</a></span>
                          </div>
                        </div>
                      </li>
                      <li class="nav-item">{{ post.date | date_to_string }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            {% endif %}
        {% endfor %}

				<!-- Card item END -->
				<!-- Pagination START -->
				<nav class="my-5" aria-label="navigation">
				  <ul class="pagination d-inline-block d-md-flex justify-content-center">

            {% for num in (1..paginator.total_pages) %}
          		{% if num == 1 %}
                <li class="page-item {% if paginator.page == 1 %} active {% endif %}"><a class="page-link" href="{{ site.url }}/blog">1</a></li>
          		{% else %}
                <li class="page-item {% if paginator.page == num %} active {% endif %}"><a class="page-link" href="{{ site.url }}/blog/page/{{ num }}">{{ num }}</a></li>
          		{% endif %}
        		{% endfor %}

				    <!-- <li class="page-item disabled">
				      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
				    </li>
				    <li class="page-item active"><a class="page-link" href="#">1</a></li>
				    <li class="page-item"><a class="page-link" href="#">2</a></li>
				    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
				    <li class="page-item"><a class="page-link" href="#">15</a></li>
				    <li class="page-item">
				      <a class="page-link" href="#">Next</a>
				    </li> -->
				  </ul>
				</nav>
				<!-- Pagination END -->
			</div>
			<!-- Main Post END -->

			<!-- Sidebar START -->
      {% include /app/elements/sidebar.html %}
			<!-- Sidebar END -->
		</div> <!-- Row end -->
	</div>
</section>
<!-- =======================
Main content END -->



</main>
<!-- **************** MAIN CONTENT END **************** -->


<!-- Back to top -->
<!-- <div class="back-top"><i class="bi bi-arrow-up-short"></i></div> -->
